@-webkit-keyframes fadeInFromNone {
    0% {
    display: none;
    opacity: 0;
    }

    50% {
    display: block;
    opacity: 0.5;
    }

    100% {
    display: block;
    opacity: 1;
    }
}

body{
    /*background-image: url("background.jpg");*/
    background-size: cover;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
#main-canvas{
    /*border: 5px solid #000;
    border-radius: 15px;
    */
    margin-left: calc(50% - 300px);
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.container{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    height: 35px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
}
.ball{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 2px;
    border: 2px solid #000;
}
.ball:hover{
    opacity: 0.5;
    cursor: pointer;
}
.one{
    background-color: rgb(250,210, 40);
}

.two{
    background-color: rgb(70,160, 160);
}

#container-actual-player{
    border-radius: 5px;
    width: 120px;
    padding: 5px;
}

.container-p1{
    background-color: rgb(250,210, 40); 
    color: #000;
}

.container-p2{
    background-color: rgb(47, 107, 107);
    color: #fff;
}
#header{
    height: 40px;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
#footer{
    height: 20px;
    width:100%;
    position: absolute;
    bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    background-color: rgb(132, 158, 158);
}
#game{
    display: none;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}
#logo{
    width: 20%;
    margin-left: 40%;
    margin-top: 20px;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
    
}
#btn-star{

    border-radius: 5px;
    width: 70px;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    margin-left: calc(50% - 35px);
    margin-top: 40px;
    background-color: rgb(250,210, 40); 
    color:#000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
#btn-star:hover{
    background-color: rgb(47, 107, 107);
    color:#fff;
    cursor: pointer;   
}

#blackground{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
}

#modal-win{
    background-color: #fff;
    width: 350px;
    height: 150px;
    position: fixed;
    z-index: 99;
    top: 100px;
    left: calc(50% - 175px);
    font-family: 'Open Sans', sans-serif;
    display: none;
}

#modal-win .title{
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    display: block;
}

#modal-win .text{
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    display: block;
}